<!DOCTYPE html>
<html lang="en">
{% extends './index.html' %}
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    
    {% block content %}
    <h1 style=width:50vw;margin:2rem 0 0 2rem>
        Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
    </h1>
    {% endblock content %}

</body>
</html>